B2_KEY_ID=your-application-key-id
B2_APPLICATION_KEY=your-application-key
B2_ENDPOINT=https://s3.us-west-004.backblazeb2.com
B2_REGION=us-west-004
B2_BUCKET=your-private-bucket-name
B2_BUCKET_FOLDER=SharedNotepad
